<% if @article.errors.any? %>
<h2> Following error occurred </h2>
<ul>
<% @article.errors.full_messages.each do |msg| %>
<li>  <%= msg %> </li>
<% end %>
</ul>
<% end %>

<%= form_for @article do |f| %>
	<p1>
		<%= f.label :title %><br/>
		<%= f.text_field :titile %><br/>
	</p1>

	<p2>
		<%= f.label :description %><br/>
		<%= f.text_area :description %><br/>
	</p2>

	<%= f.submit %> <br/>

	<%= link_to "Home Page" , articles_path %>
<% end %>
